.contact{
    height: 88vh;
    justify-content: center;
    font-family: var(--font1);
    background: white url('../../Images/star-banner.png');
    background-size: cover;
}
.contactWrapper{
    padding: 10px;
background: transparent;
width: 50%;
height: 100%;
display: flex;
align-items: center;
flex-direction: column;
justify-content: space-around;
}
.contactTitle{
    padding-top: 10px;
}
.contactTitle .title{
    font-weight: 600;
    font-size: 30px;
    color: black;
}
.contactTitle .title::before{
    content: "";
    position: absolute;
    width: 180px;
    height: 3px;
    background-color: black;
    bottom: 0;
    left: 0%;
}
.contactTitle .title::after{
    content: "get in touch";
    position: absolute;
    background: rgb(255, 255, 255);
    left: 13%;
    color: black;
    font-size: 20px;
    bottom: -12px;
    padding: 5px;
    width: 121px;
}

.contactForm{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height:100%;
}

input{
    width: 350px;
    padding: 10px 15px;
font-size: 15px;
border-radius: 10px;
border: 2px solid black;
margin-bottom: 10px;
color: black;
font-weight: 600;
}
textarea{
    border-radius: 10px;
    padding: 10px;
    font-size: 17px;
    font-weight: 600;
    color: black;
border: 2px solid black;
margin-bottom: 25px;
width: 350px;

}
.Contactbtn{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    background-color: crimson;
    border: 3px solid crimson;
    color: white;
    cursor: pointer;
    transition: all 0.4s ease;
    width: 180px;
}
.Contactbtn:hover{
    background: none;
    color: black;
}


/* -------------------------responsive----------------------- */
@media screen and (max-width:380px) {

    input{
        max-width: 300px;
    }
    textarea{
        max-width: 300px;
    }
    .contactTitle .title{
        font-size: 25px;
    }
    .contactTitle .title::before{
        left: -3%;
    }
    .contactTitle .title::after{
        left:9%
    }
}
@media screen and (max-width:320px) {
    .Contactbtn{
        font-size: 15px;
        width: auto;
    }
    textarea{
        margin-bottom: 15px;
    }
    .contactTitle{
        margin-bottom: 20px;
    }
    .contactTitle .title{
        font-size: 22px;
    }
    .contactTitle .title::before{
        left: -15%;
    }
    .contactTitle .title::after{
        left:0%;
        font-size: 15px;

    }
}