.projects{
    height: 87.8vh;
    background: #41228e url('../../Images/illustrations/leaf-bg-top.png');
    position: relative;
    overflow: hidden;
}
.projectWrapper{
    height: 100%;
    font-family: var(--font1);
}
.ProjectTitle{
    padding: 30px 0;
}
.title{
    text-align: center;
    position: relative;
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: 600;
    color: white;
}
.ProjectTitle .title::before{
    content: "";
    position: absolute;
    width: 250px;
    height: 3px;
    background-color: black;
    bottom: 0;
    left: 41%;
}
.ProjectTitle .title::after{
    content: "what i've created";
    position: absolute;
    background:#36197f;;
    left: 44%;
    color: white;
    font-size: 20px;
    bottom: -12px;
    padding: 5px;
}
.projectCarousel{
    display: flex;
    background-color: transparent;
    /* background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%); */
    height: 80%;
    width: 72%;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
    /* overflow: scroll; */
    flex-wrap: wrap;
}
.projectCard{
    width: 280px;
    height: 480px;
    background-color: white;
    color: black;
    border-radius: 10px;
    box-shadow: 0px 1px 27px 4px rgba(0, 0, 0, 0.82);
    margin-right: 30px;
    margin-bottom: 30px;
}
.projectImg{
    width: 100%;
height: 47%;
object-fit: fill;
border-radius: 10px 10px 0 0;
cursor: pointer;
transition: all 0.3s ease;
}
.projectImg:hover{
    transform: scale(1.05);
}
.Projectdesc{
    padding: 10px 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:space-between;
    height: 53%;
}
.projectBtn{
    background: transparent;
    outline: 0;
    border: 0;
    color: #36197f;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 10px;
}
.projectHr{
    height: 1px;
width: 100%;
background: #5a5a5a;
border: 0;
margin-top: 10px;
margin-bottom: 5px;
}
.pleaf1{
    position: absolute;
    bottom: 0;
    right: 0;
}
.pleaf2{
    position: absolute;
    top: 0;
    width: 250px;
    left: -50px;
}
.pleaf3{
    position: absolute;
    top: 0;
    right: -160px;
}
.pleaf4{
    position: absolute;
    width: 300px;
    bottom: 0;
    left: -50px;
}
.pleaf5{
    position: absolute;
    top: -100px;
bottom: 0px;
margin: auto;
left: 75px;
}
.pleaf6{
    position: absolute;
    top: 60px;
bottom: 0;
margin: auto;
right: 165px;
}

/* ------------------------------responsive--------------------------------- */

@media screen and (max-width:1400px) {
    .projects{
        height: auto;
    }
}
@media screen and (max-width:1110px) {
    .pleaf1,.pleaf2,.pleaf3,.pleaf4,.pleaf5,.pleaf6{
        display: none;
    }
}
@media screen and (max-width:500px) {
    .projectCard{
    margin-right: 0px;
    }
    .ProjectTitle .title::before{
        display: none;
    }
    .ProjectTitle .title::after{
        display: none;    
    }
}
