.Container{
    height: 100vh;
    position: relative;
    overflow:hidden;
} 
.containerWrapper{
    position: absolute;
top: 0;
width: 100%;
overflow: hidden;
}
video{
    width: 100%;
}
/* ---------------navbar------------------- */

.navbar{
    position: sticky;
    top: 0;
    background-color: #061c3e;
    font-family: var(--font1);
    z-index: 10;
}
.navbar .max-width{
    height: 111px;
}
.navbar .logo a {
    color: white;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo span{
    color: #ff568d;;
}

.navbar .menu li a{
    color: white;
    font-weight: 500;
    font-size: 22px;
    margin-right: 35px;
}
.navbar .menu li a:hover,.navbar .menu .menu-active{
    color: #7d7a81;
    font-weight: bold;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}
.navbar .menu li{
    display: inline-block;
    list-style: none;
}

.navbar .max-width{
    justify-content: space-between;
}

.navbar .menu-btn{
    font-size: 30px;
    color: white;
    display: none;
    cursor: pointer;
}




/* -----------------------Home------------------------- */

.home{
    justify-content: space-around;
    min-height: 559px;
    font-family: var(--font1);
    height: 85vh;
    /* background: url('../Images/home.jpg') no-repeat; */
    /* background-size: cover; */
    /* background: rgb(13, 13, 117) url('../Images/illustrations/page-title.png'); */
}
/* .home::after{
content: "";
background: rgba(247, 2, 2, 0.7)url('../Images/home.jpg');
background-blend-mode: darken;
background-image: url('../Images/home.jpg');
background-repeat: no-repeat;
background-size: cover;
position: absolute;
width: 100%;
height: 100%;
opacity: 0.35;
z-index: -1;
} */
.home-content{
    line-height: 60px;
    /* margin-left: 10%; */
}
.home .home-content .text-1{
    color: white;
    font-size: 30px;
    font-weight: 600;
    margin-left: 3px;
}
.home .home-content .text-2{
    color: white;
    font-size: 60px;
    font-weight: 600;
}
.home .home-content .text-3{
    color:white;
    font-size: 40px;
    font-weight: 600;
    margin-top: 10px;
}
.home .home-content  span{
    color:white;
}
.home .social-media{
    flex-direction: column;
}
.home .social-media .social-media-svg img{
    width: 370px;
    border-radius: 50%;
    margin-bottom: 25px;
    box-shadow: -3px 3px 12px 7px rgba(74, 21, 21, 0.69);

}

.social-media .social-media-icons a{
    font-size: 35px;
    padding: 0 30px;
    transition: all 0.3s;
    display: inline-block;
    color: blanchedalmond;;
}

.social-media .social-media-icons a:hover{
transform: translateY(-4px);

}
.home-content .btn-hire{
    display: inline-block;
    padding: 11px 25px;
    border-radius: 15px;
    margin-top: 35px;
    background: crimson;
    border: 5px solid crimson;
transition: all 0.5s;
width: 220px;
padding-right: 33px;
    color: white;
font-size: 23px;
transition: all 0.5s;
letter-spacing: 3px;
cursor: pointer;
}
.home-content .btn-hire .arrow{
    margin-left: 8px;
    margin-bottom: -3px;
    font-size: 30px;
}
.home-content .btn-hire:hover{
    background:transparent;
    color: black;
}
